<!DOCTYPE html>
<html lang="en"
      data-th-with="page=${resource.adaptTo(@org.whistlepost.model.Page@class)}">

<th:block data-sling-include="${resource}" data-sling-resourceType="'wp/component/head'">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../../../assets/images/favicon.ico" rel="icon">
    <link href="../../../../assets/css/whistlepost.bundle.css" rel="stylesheet">
    <link href="../../../../assets/css/fonts.css" rel="stylesheet">
</th:block>

<body class="wp-layout holygrail">

<th:block data-th-if="${not #strings.isEmpty(page.layout.header)}">
    <header data-sling-include="${page.layout.header}" data-sling-replaceSelectors="'section'">
        [HEADER SECTIONS]
    </header>
</th:block>

  <main>
    <section data-th-with="article=${resource.adaptTo(@org.whistlepost.model.schema.Recipe@class)}">
      <article data-th-replace="/apps/wp-pure/fragments/article.html::full(${article})">[ARTICLE]</article>
    </section>

    <nav>
      <th:block data-th-if="${not #strings.isEmpty(page.layout.navigation)}"
                data-sling-include="${resolver.resolve(request, page.layout.navigation)}" data-sling-replaceSelectors="'columns'">
        [COLUMNS NAV SECTION]
      </th:block>
    </nav>
  </main>

<th:block data-th-if="${not #strings.isEmpty(page.layout.sidebar)}">
    <aside data-sling-include="${page.layout.sidebar}" data-sling-replaceSelectors="'section'">
        [SIDEBAR SECTIONS]
    </aside>
</th:block>

<th:block data-th-if="${not #strings.isEmpty(page.layout.footer)}">
    <footer data-sling-include="${page.layout.footer}" data-sling-replaceSelectors="'section'">
        [FOOTER SECTIONS]
    </footer>
</th:block>

</body>
</html>
