<nav data-th-fragment="pagination-nav" id="pagination" data-th-with="paging=${request.adaptTo(@org.mnode.whistlepost.model.component.PageListRequest@class)}">
    <ul class="pagination justify-content-center" data-th-if="${paging.pageCount > 1}">
        <li data-th-class="${paging.previous}? 'page-item' : 'page-item disabled'">
            <a class="page-link" data-th-href="|${page.resource.path}.html/${paging.currentPage-1}|"><span aria-label="Previous"><span aria-hidden="true">&laquo;</span></span></a>
        </li>
        <li data-th-each="pageNum : ${paging.pageNumbers}"  data-th-class="${pageNum < 1} ? 'page-item disabled' : (${paging.currentPage == pageNum}? 'page-item active' : 'page-item')">
            <a class="page-link" data-th-href="|${page.resource.path}.html/${pageNum}|" data-th-text="${pageNum < 1} ? '...' : ${pageNum}"></a>
        </li>
        <li data-th-class="${paging.next}? 'page-item' : 'page-item disabled'">
            <a class="page-link" data-th-href="|${page.resource.path}.html/${paging.currentPage+1}|"><span aria-label="Next"><span aria-hidden="true">&raquo;</span></span></a>
        </li>
    </ul>
</nav>
