sling_url=http://sling:8080
sling_username=admin
sling_password=admin

sonatype_username=
sonatype_password=

bintray_user=
bintray_key=

docker_apiUsername=
docker_apiPassword=
docker_apiEmail=
docker_push=false

bundleStartLevel=10
config_bundleStartLevel=2
content_bundleStartLevel=2

whistlepost-links_runMode=prod

# container settings..
#docker_base_image = openjdk:11-slim
docker_base_image = openjdk:8-jre-alpine
sling_version = 11
