<!DOCTYPE html>
<html>
<head data-th-fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" data-th-content="${page.description}">
    <meta name="author" data-th-content="${page.author}" content="Micronode">
    <link rel="icon" href="/assets/wp/images/favicon.ico">

    <title data-th-text="|Whistlepost Editor - ${page.title}|"></title>

    <link href="/assets/wp/css/whistlepost.bundle.css" rel="stylesheet">
    <link href="/assets/wp/css/fonts.css" rel="stylesheet">

    <script src="/system/sling.js"></script>
</head>
<body>
</body>
</html>