<!DOCTYPE html>
<html>
<head>
</head>
<body>

<div data-th-fragment="summary(resource)" data-th-with="localBusiness=${resource.adaptTo(@org.whistlepost.model.schema.LocalBusiness@class)}">
    <a data-th-href="|${localBusiness.resource.path}.html|">
        <img class="pure-img" data-th-src="${localBusiness.image}" data-th-alt="|${localBusiness.title} image|"/>
    </a>
</div>

<div data-th-fragment="sidebar(resource)" data-th-with="list=${resource.adaptTo(@org.whistlepost.model.schema.list.LocalBusinessList@class)}">
    <th:block data-th-each="localBusiness : ${list.getShuffledPage()}">
        <div data-th-replace="/apps/wp/page/fragments/localBusiness.html::summary(${localBusiness.resource})">
        </div>
    </th:block>
</div>

</body>
</html>
