<!DOCTYPE html>
<html>

<head data-th-fragment="default(page)">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <th:block data-th-fragment="metadata"
              data-th-with="meta=${resource.adaptTo(@org.whistlepost.model.Metadata@class)},site=${resolver.resolve(request, '/content/metadata').adaptTo(@org.whistlepost.model.Metadata@class)}">

        <meta name="keywords" data-th-content="${meta.keywords}"/>
        <meta name="description" data-th-content="${meta.description}">
        <meta name="subject" data-th-content="${site.subject}">
        <meta name="author" data-th-content="${meta.author}">
        <meta name="copyright"content="${site.copyright}">
        <meta name="language" content="${site.language}">
<!--        <meta name="robots" content="index,follow" />-->
<!--        <meta name="revised" content="Sunday, July 18th, 2010, 5:15 pm" />-->
<!--        <meta name="abstract" content="">-->
<!--        <meta name="topic" content="">-->
<!--        <meta name="summary" content="">-->
<!--        <meta name="Classification" content="Business">-->
<!--        <meta name="author" content="name, email@hotmail.com">-->
<!--        <meta name="designer" content="">-->
<!--        <meta name="copyright" content="">-->
<!--        <meta name="reply-to" content="email@hotmail.com">-->
<!--        <meta name="owner" content="">-->
<!--        <meta name="url" content="http://www.websiteaddrress.com">-->
<!--        <meta name="identifier-URL" content="http://www.websiteaddress.com">-->
<!--        <meta name="directory" content="submission">-->
<!--        <meta name="category" content="">-->
<!--        <meta name="coverage" content="Worldwide">-->
<!--        <meta name="distribution" content="Global">-->
<!--        <meta name="rating" content="General">-->
<!--        <meta name="revisit-after" content="7 days">-->
<!--        <meta http-equiv="Expires" content="0">-->
<!--        <meta http-equiv="Pragma" content="no-cache">-->
<!--        <meta http-equiv="Cache-Control" content="no-cache">-->
    </th:block>

    <th:block data-th-replace="/apps/wp/page/fragments/opengraph.html::default">
    </th:block>

    <title data-th-text="${page.title}">[TITLE]</title>

    <link href="/assets/wp/images/favicon.ico" rel="icon">
    <link href="/assets/wp/css/whistlepost.bundle.css" rel="stylesheet">
    <link href="/assets/wp/css/fonts.css" rel="stylesheet">
</head>

<body>
</body>
</html>