<!DOCTYPE html>
<html>
<head>
</head>
<body>

<nav data-th-fragment="header-nav" class="pure-menu pure-menu-horizontal" style="position:sticky; top:0; z-index: 2; background-color: white; display:flex; align-items:center; font-size:1.2em; margin-left:-10px; margin-right:-10px;" data-th-with="nav=${resource.adaptTo(@org.whistlepost.model.Navigation@class)},branding=${resolver.resolve(request, '/content/branding').adaptTo(@org.whistlepost.model.Branding@class)}">
    <a href="#" class="pure-menu-heading pure-menu-link">
        <img class="pure-img" style="max-height:40px;" data-th-src="${branding.logo}" data-th-alt="${branding.altText}">
    </a>
    <ul class="pure-menu-list">
        <li class="pure-menu-item" data-th-each="ref : ${nav.headerNav}" data-th-with="target=${resolver.resolve(request, ref).adaptTo(@org.whistlepost.model.Page@class)}">
            <a href="#" class="pure-menu-link" data-th-href="${resolver.map(request, target.resource.path)}" data-th-text="${target.title}">[TARGET]</a>
        </li>
    </ul>
    <div style="flex-grow:2;"></div>
    <div class="pure-menu-heading" data-th-replace="/apps/wp/page/fragments/weather.html::darksky"></div>

</nav>

<div data-th-fragment="columns-nav" class="wnews-columns" data-th-with="nav=${resource.adaptTo(@org.whistlepost.model.Navigation@class)}">
    <div class="pure-g" style="margin-top:30px; flex-wrap:nowrap;">
        <th:block data-th-each="column : ${nav.columnNav}">
            <div style="padding-left:15px;" data-th-class="|pure-u-1-${#lists.size(nav.columnNav)}|" data-th-insert="/apps/wp/page/fragments/article.html::link-list(${resolver.resolve(request, column)})"></div>
        </th:block>
    </div>
</div>

<nav data-th-fragment="footer-nav" class="pure-menu pure-menu-horizontal justify-content-center">
    <ul class="pure-menu-list">
        <li class="pure-menu-item">
            <a class="pure-menu-link" href="/content/wnews/advertising.html">Advertise</a>
        </li>
        <li class="pure-menu-item">
            <a class="pure-menu-link" href="/content/wnews/subscribe.html">Subscribe</a>
        </li>
        <li class="pure-menu-item">
            <a class="pure-menu-link" href="/content/wnews/contact.html">Contact Us</a>
        </li>
    </ul>
</nav>

</body>
</html>